.HotAccessoriesMenu{
    display: flex;
    justify-content: center;
}

.HotAccessoriesLink{
    text-decoration: none;
    margin: 1vmax;
    padding: 0.5vmax 0;
    color: rgb(94, 94, 94);
    font-family:'Segoe UI', Verdana, Geneva, Tahoma, sans-serif;
}

.HotAccessoriesLink:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 1px solid orangered;
}